.testimonials-list {
    @extend .content-width;
    margin-bottom: calc($measure * 3);

    blockquote {
        margin-bottom: calc($measure * 3);

        &:last-of-type {
            margin: 0;
        }

    }

    .highlighted-quote {
        margin-left: -$measure;
        margin-right: -$measure;
        background-image: url("/assets/home/9C9A8410.jpg");
        background-size: cover;

        div {
            padding: $measure;
            background-color: rgba($color-background, 0.5);
            backdrop-filter: blur(10px);
        }
    }


    img {
        display: block;
        width: 100%;
        height: auto;
    }
}