.testimonials-list {
    @extend .content-width;
    margin-bottom: 6em;

    blockquote {
        margin-bottom: 6em;

        &:last-of-type {
            margin: 0;
        }

    }

    .highlighted-quote {
        color: $color-stone;
    }


    img {
        display: block;
        width: 100%;
        height: auto;
    }
}