---
layout: default
title: Prices
class: prices

pricelist:
  - service: this is a title
    description: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
    price: 55.00
  - service: this is a title
    description: This is the copy
    price: 60.00
  - service: this is a title
    description: This is the copy
    price: 60.00
  - service: this is a title
    description: This is the copy
    price: 50.00
---

{% include intro.html title="Services Pricelist" copy="Below is a complete list of my services. Bridal trial make-up and consultation is best done at least 3-4 weeks before the wedding." %}

{% include prices.html %}

<div class="container">
  <p><small><em>Prices listed are subject to change based on reasonable travel expenses. Any changes will be made clear at the time of booking.</em></small></p>
</div>