<section class="content-block content-width">
    {% for content in site.data.pages.contact.contact %}
    <p>{{ content }}</p>
    {% endfor %}

    {% 
        include button.html 
        href=site.data.pages.contact.bridal-inquiry-url 
        title=site.data.pages.contact.bridal-inquiry-button-label
        label=site.data.pages.contact.bridal-inquiry-button-label
        type="primary" 
    %}

    {%
        include button.html
        href=site.data.pages.contact.lesson-inquiry-url
        title=site.data.pages.contact.lesson-inquiry-button-label
        label=site.data.pages.contact.lesson-inquiry-button-label
        type="primary"
    %}

    {%
        include button.html
        href=site.data.pages.contact.personal-shopping-inquiry-url
        title=site.data.pages.contact.personal-shopping-inquiry-button-label
        label=site.data.pages.contact.personal-shopping-inquiry-button-label
        type="primary"
    %}

    {%
        include button.html
        href=site.data.pages.contact.one-on-one-coaching-session-url
        title=site.data.pages.contact.one-on-one-coaching-session-button-label
        label=site.data.pages.contact.one-on-one-coaching-session-button-label
        type="primary" 
    %}

    {% 
        include button.html 
        href=site.data.pages.contact.coaching-call-coaching-session-url 
        title=site.data.pages.contact.coaching-call-coaching-session-button-label
        label=site.data.pages.contact.coaching-call-coaching-session-button-label
        type="primary" 
    %}
</section>