---
layout: default
class: home
---

{% include intro.html title="Professional Make-up Artist" copy="I find the transformative power of make-up&mdash;both aesthetically and emotionally&mdash;and endless source of inspiration. I love to help people look just as beautiful as they feel." button-url="/prices" button-text="View Prices" %}

{% include grid-row.html layout="tall-left" image-1="" block-2-title="Title" block-2-copy="This is some copy" image-3="" %}

{% include pull.html title="An effortless aesthtic" copy="A short bit about your approach to simple, powerful make-up?" %}

{% include grid-row.html layout="three-col" image-1="" image-2="" image-3="" %}

{% include grid-row.html layout="tall-right" block-1-title="Title" block-1-copy="This is some more copy" image-2="" image-3="" %}

{% include pull.html title="Bridal perfection" copy="You could use this bit to sell the bridal aspect more?" %}

{% include grid-row.html layout="three-col" image-1="" image-2="" image-3="" %}

{% include grid-row.html layout="three-col" image-1="" image-2="" image-3="" %}

{% include grid-row.html layout="three-col" image-1="" image-2="" image-3="" %}