.pricing-table {
    @extend .content-width;
    margin-bottom: 6em;

    h2 {
        margin-bottom: $measure;
    }

    .service {
        margin-bottom: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid $color-chalk;

        &.last-item {
            border: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    .service-details {
        display: flex;

        @media screen and (max-width: $breakpoint-small) {
            display: block;
        }

        .service-name {
            flex: none;
            margin: 0;
        }

        .service-cost {
            margin: 0;
            margin-left: auto;

            @media screen and (max-width: $breakpoint-small) {
                display: block;
                margin-top: .5em;
                margin-bottom: .5em;
                font-weight: 500;
            }
        }
    }

    .service-description {
        margin: 0;
        color: $color-stone;
        font-size: 1em;
    }

    .service-footer {
        font-size: $font-size-small;
        font-style: italic;
        margin-bottom: $measure;
    }
}