.pricing-table {
    @extend .content-width;
    margin-bottom: 6em;

    .service {
        margin-bottom: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid $color-chalk;

        &.last-item {
            border: none;
        }
    }

    .service-details {
        display: flex;

        .service-name {
            flex: none;
            margin: 0;
        }

        .service-cost {
            margin: 0;
            margin-left: auto;
        }
    }

    .service-description {
        margin: 0;
        color: $color-stone;
        font-size: 1em;
    }

    .service-footer {
        font-size: $font-size-small;
        font-style: italic;
        margin-bottom: $measure;
    }
}