<section class="pricing-table general-pricing">
    <h2>General Pricing</h2>

    <div class="service-footer">
        <p>All prices include false lashes (if required) and tax.</p>
    </div>

    {% for pricing in site.data.pricing.general %}
    <div class="service{% if forloop.last %} last-item{% endif %}">
        <div class="service-details">
            <p class="service-name">{{ pricing.service }}</p>
            {% if pricing.cost %}
            <p class="service-cost">{{ pricing.cost }}</p>
            {% endif %}
        </div>
        {% if pricing.description %}
        <p class="service-description">{{ pricing.description }}</p>
        {% endif %}
    </div>
    {% endfor %}
</section>