<section class="pricing-table bride-only-pricing">
    <h2>Bride-only pricing</h2>
    <p class="bride-only-description">A tailored, one-on-one beauty experience designed to make your intimate "I do" feel effortlessly luxurious.</p>
    {% for pricing in site.data.pricing.bride-only%}
    <div class="service{% if forloop.last %} last-item{% endif %}">
        <div class="service-details">
            <p class="service-name">{{ pricing.service }}</p>
            {% if pricing.cost %}
            <p class="service-cost">{{ pricing.cost }}</p>
            {% endif %}
        </div>
        {% if pricing.description %}
        <p class="service-description">{{ pricing.description }}</p>
        {% endif %}
    </div>
    {% endfor %}
</section>