section.bridal-process {
    position: relative;  
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc($measure / 4);
    row-gap: calc($measure / 4);


    div {
        position: relative;
        border: 1px solid $color-mushroom;
        border-radius: 16px;
        padding: 1em;
    }

    p {
        margin: 0;
    }

    span {
        font-family: $font-serif;
    }

    .process-title {
        // font-family: $font-serif;
        font-weight: 500;
        margin: .5em 0;
    }
}