<!-- Footer -->
<footer class="container">
	<div class="padding">
		<hr>
		<ul class="social-links">
			<li><a href="mailto:bookings@mariannemakeup.com">Email</a></li>
			<li>/</li>
			<li><a href="http://instagram.com/mazzymoore">Instagram</a></li>
			<li>/</li>
			<li><a href="https://twitter.com/mazzymoore">Twitter</a></li>
		</ul>
		<p class="legal">&copy; Marianne Moore. All images are the property of Marianne Moore and may not be reused or redistributed without express written permission.</p>
	</div>
</footer>