{% if include.layout == "tall-left" %}
<div class="container row">
	<div class="column half">
		<div class="tall" style="background-image: url({{ include.image-1 }});"></div>
	</div><!-- /.column -->
	<div class="column half">
		<div class="square" style="background-image: url({{ include.image-2 }});">
			{% if include.block-1-title %}
			<div class="content">
				<h3>{{ include.block-1-title }}</h3>
				<p>{{ include.block-1-copy }}</p>
			</div>
			{% endif %}
		</div>
		<div class="square last" style="background-image: url({{ include.image-3 }});">
			{% if include.block-2-title %}
			<div class="content">
				<h3>{{ include.block-2-title }}</h3>
				<p>{{ include.block-2-copy }}</p>
			</div>
			{% endif %}
		</div>
	</div><!-- /.column -->
</div>
{% endif %}

{% if include.layout == "tall-right" %}
<!-- Row -->
<div class="container row">
	<div class="column half">
		<div class="square" style="background-image: url({{ include.image-1 }});">
			{% if include.block-1-title %}
			<div class="content">
				<h3>{{ include.block-1-title }}</h3>
				<p>{{ include.block-1-copy }}</p>
			</div>
			{% endif %}
		</div>
		<div class="square last" style="background-image: url({{ include.image-2 }});">
			{% if include.block-2-title %}
			<div class="content">
				<h3>{{ include.block-2-title }}</h3>
				<p>{{ include.block-2-copy }}</p>
			</div>
			{% endif %}
		</div>
	</div><!-- /.column -->
	<div class="column half">
		<div class="tall" style="background-image: url({{ include.image-3 }});"></div>
	</div><!-- /.column -->
</div>
{% endif %}

{% if include.layout == "three-col" %}
<!-- Row -->
<div class="container row">
	<div class="column third">
		<div class="square" style="background-image: url({{ include.image-1 }});"></div>
	</div><!-- /.column -->
	<div class="column third">
		<div class="square" style="background-image: url({{ include.image-2 }});"></div>
	</div><!-- /.column -->
	<div class="column third">
		<div class="square" style="background-image: url({{ include.image-3 }});"></div>
	</div><!-- /.column -->
</div>
{% endif %}