{% if include.type == "inverse" %}
<section class="image-grid 3-column inverse">
    <div class="img-1">
        <img src="{{ include.img-1 }}">
    </div>
    <div class="img-2">
        <img src="{{ include.img-2 }}">  
    </div>
    <div class="img-3"> 
        <img src="{{ include.img-3 }}">
    </div>
</section>
{% else %}
<section class="image-grid 3-column">
    <div class="img-1">
        <img src="{{ include.img-1 }}">
    </div>
    <div class="img-2">
        <img src="{{ include.img-2 }}">  
    </div>
    <div class="img-3"> 
        <img src="{{ include.img-3 }}">
    </div>
</section>
{% endif %}