{% if include.type == "flat" %}
<section class="image-grid 3-column flat">
    <div class="img-1">
        <img src="{{ include.img-1 }}" alt="{{ include.alt-1 | default: 'Makeup by Marianne Moore' }}" loading="lazy">
    </div>
    <div class="img-2">
        <img src="{{ include.img-2 }}" alt="{{ include.alt-2 | default: 'Makeup by Marianne Moore' }}" loading="lazy">
    </div>
    <div class="img-3">
        <img src="{{ include.img-3 }}" alt="{{ include.alt-3 | default: 'Makeup by Marianne Moore' }}" loading="lazy">
    </div>
</section>
{% else %}
<section class="image-grid 3-column">
    <div class="img-1">
        <img src="{{ include.img-1 }}" alt="{{ include.alt-1 | default: 'Makeup by Marianne Moore' }}" loading="lazy">
    </div>
    <div class="img-2">
        <img src="{{ include.img-2 }}" alt="{{ include.alt-2 | default: 'Makeup by Marianne Moore' }}" loading="lazy">
    </div>
    <div class="img-3">
        <img src="{{ include.img-3 }}" alt="{{ include.alt-3 | default: 'Makeup by Marianne Moore' }}" loading="lazy">
    </div>
</section>
{% endif %}