<section id="menu-overlay" style="display: none;" role="dialog" aria-label="Navigation menu">
    <div class="menu-container">
        <ul>
            {% for item in site.data.main-menu %}
                <li class="{% if page.class == item.name %}active{% endif %}">
                    <a href="{{ item.url }}">{{ item.name }}</a>
                </li>
            {% endfor %}
            <li><span class="divider"></span></li>
            <li>
                <a href="{{ site.instagramURL }}" rel="noopener noreferrer" target="_blank">Instagram</a>
            </li>
        </ul>
    </div>
    {% include icons/icon-menu-close.html %}
</section>