<section class="pill-menu content-width">
    {% if include.rates == "yes" %}
    <a href="/#pricing" title="Marianne Moore's services and rates" class="jumbo-button">Pricing</a>
    {% endif %}
    {% if include.booking == "yes" %}
    <a href="/contact/" title="Email Marianne Moore with your inquiry" class="jumbo-button">Bridal Inquiry</a>
    {% endif %}
    {% if include.calendly == "yes" %}
    <a href="{{ site.calendlyConsultation }}" title="Book a free consultation with Marianne Moore" class="jumbo-button" rel="noopener noreferrer" target="_blank">Book A Free Consultation</a>
    <a href="{{ site.calendlyLesson }}" title="Book a makeup lesson with Marianne Moore" class="jumbo-button" rel="noopener noreferrer" target="_blank">Book A Makeup Lesson</a>
    <a href="{{ site.calendlyBridalLesson }}" title="Book a bridal makeup lesson with Marianne Moore" class="jumbo-button" rel="noopener noreferrer" target="_blank">Book A Bridal Makeup Lesson</a>
    {% endif %}
</section>