<section class="pill-menu content-width">
    {% if include.rates == "yes" %}
    <a href="/#pricing" title="Marianne Moore's services and rates" class="jumbo-button">Pricing</a>
    {% endif %}
    {% if include.booking == "yes" %}
    <a href="/contact/" title="Email Marianne Moore with your inquiry" class="jumbo-button">Bridal Inquiry</a>
    {% endif %}
    {% if include.calendly == "yes" %}
    <a href="{{ site.calendlyConsultation }}" title="" class="jumbo-button">Book A Free Consultation</a>
    <a href="{{ site.calendlyLesson }}" title="" class="jumbo-button">Book A Makeup Lesson</a>
    <a href="{{ site.calendlyBridalLesson }}" title="" class="jumbo-button">Book A Bridal Makeup Lesson</a>
    {% endif %}
</section>