<section class="pill-menu content-width">
    {% if include.rates == "yes" %}
    <a href="/#pricing" title="Marianne Moore's services and rates" class="jumbo-button">Pricing</a>
    {% endif %}
    {% if include.bio == "yes" %}
    <a href="/about/" title="Marianne Moore's biography" class="jumbo-button">About Me</a>
    {% endif %}
    {% if include.booking == "yes" %}
    <a href="{{ site.emailGeneralInquiry }}" title="Marianne Moore bridal inquiry" class="jumbo-button">Send Me An Email</a>
    {% endif %}
</section>