<section id="pricing" class="pricing content-width">
    <h2>Pricing</h2>

    <div class="section-separator">
        <p class="uppercased-text">Bridal</p>
    </div>

    {% for bridal_service in site.data.services.bridal %}
    <div class="service{% if forloop.first %} first-item{% endif %}">
        <div class="service-details">
            <p class="service-name">{{ bridal_service.service }}</p>
            {% if bridal_service.cost %}
            <p class="service-cost">{{ bridal_service.cost }}</p>
            {% endif %}
        </div>
        {% if bridal_service.cost-increase %}
        <div class="cost-increase">
            <p class="cost-increase-description">{{ bridal_service.cost-increase-label }}</p>
            <p class="cost-increase-cost">{{ bridal_service.cost-increase }}</p>
        </div>
        {% endif %}
        {% if bridal_service.description %}
        <p class="service-description">{{ bridal_service.description }}</p>
        {% endif %}
    </div>
    {% endfor %}

    <div class="service-footer">
        <p>All prices include false lashes (if required) and tax.</p>
    </div>

    <div class="section-separator">
        <p class="uppercased-text">General</p>
    </div>

    {% for general_service in site.data.services.general %}
    <div class="service{% if forloop.first %} first-item{% endif %}">
        <div class="service-details">
            <p class="service-name">{{ general_service.service }}</p>
            {% if general_service.cost %}
            <p class="service-cost">{{ general_service.cost }}</p>
            {% endif %}
        </div>
        {% if general_service.description %}
        <p class="service-description">{{ general_service.description }}</p>
        {% endif %}
    </div>
    {% endfor %}

    <div class="service-footer">
        <p>All prices include false lashes (if required) and tax.</p>
    </div>

    <div class="section-separator">
        <p class="uppercased-text">Additional fees</p>
    </div>
    
    {% for additional_service in site.data.services.additional %}
    <div class="service{% if forloop.first %} first-item{% elsif forloop.last %} last-item{% endif %}">
        <div class="service-details">
            <p class="service-name">{{ additional_service.service }}</p>
            {% if additional_service.cost %}
            <p class="service-cost">{{ additional_service.cost }}</p>
            {% endif %}
        </div>
        {% if additional_service.description %}
        <p class="service-description">{{ additional_service.description }}</p>
        {% endif %}
    </div>
    {% endfor %}
</section>