<section class="testimonials-callout">
    <div class="wrapper">
        <div class="quotes">
            <blockquote class="quote-1">
                <p class="quote-large">Marianne did a fabulous job on my makeup.</p>
                <p class="quote-small">She was thorough, knowledgeable, talented, funny and very kind.</p>
                <p class="source">– Siobhan, 2022 Bride</p>
            </blockquote>
            <blockquote class="quote-2">
                <p class="quote-large">Marianne did a fabulous job on my makeup.</p>
                <p class="quote-small">She was thorough, knowledgeable, talented, funny and very kind.</p>
                <p class="source">– Siobhan, 2022 Bride</p>
            </blockquote>
        </div>
    </div>
</section>