<section class="full-width-block bridal-process">
    <div class="wrapper">
        <div class="content-width">
            <h2>The booking process</h2>
            <div class="full-width-block-content">
                {% for item in site.data.pages.bridal.process %}
                <div class="process-step">
                    <div class="process-inner">
                        <h3>{{ forloop.index }}. {{ item.title }}</h3>
                        <p class="process-content">{{ item.content }}</p>
                    </div>
                </div>
                {% unless forloop.last %}
                {% include divider.html %}
                {% endunless %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>