.faq {

  .faq-section {
    padding: 4em 0 3em;
    border-bottom: 2px solid $color-chalk;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .faq-section-label {
    font-size: $font-size-small;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $color-stone;
    margin-bottom: 0.5em;
  }

  .faq-section-title {
    font-family: $font-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 2em;
    line-height: 1.3;
    margin-bottom: 1.5em;

    @media screen and (max-width: $breakpoint-small) {
      font-size: 1.75em;
    }
  }

  .faq-item {
    border-bottom: 1px solid $color-chalk;

    &:last-child {
      border-bottom: none;
    }
  }

  .faq-question {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em 0;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    font-family: $font-sans-serif;
    font-size: 1.125em;
    font-weight: 400;
    color: $color-ink;
    line-height: 1.5;
    transition: color 0.2s ease;

    @media screen and (max-width: $breakpoint-small) {
      font-size: 1em;
    }

    &:hover {
      color: $color-stone;
    }

    span {
      flex: 1;
      padding-right: 1.25em;
      font-family: $font-sans-serif;
      font-style: normal;
    }
  }

  .faq-icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background: $color-stone;
      border-radius: 1px;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

    &::before {
      width: 14px;
      height: 1px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      width: 1px;
      height: 14px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .faq-item.active .faq-icon::after {
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 0;
  }

  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;

    p {
      color: $color-stone;
      font-size: 1em;
      line-height: 1.8;
      padding-right: 2.5em;

      @media screen and (max-width: $breakpoint-small) {
        padding-right: 0;
      }
    }

    p + p {
      margin-top: 0.75em;
    }

    a {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }

  .faq-item.active .faq-answer {
    max-height: 600px;
    padding-bottom: 1.5em;
  }
}
