@font-face {
    font-family: "Angie Sans Std";
    src: url(https://mariannemakeup.com/assets/fonts/AngieSansStd-Italic.woff2) format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}