footer {
    background-image: url("/assets/background.jpg");
    background-size: cover;
    background-position: center;

    .inner {
      max-width: 100%;
      padding: 4em;
      background-color: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }

    svg#mm-logo-glyph {
      width: 4em;
      fill: $color-ink;
      margin: 2em 0;
    }

    .menu {
      a {
        display: inline-block;
        padding-bottom: 0.5em;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      flex: 50%;
    }
  
    .instagram {
      margin-bottom: 1em;
    }

    p {
      margin: 0;
    }
}