footer {
    background: #F7F0E5;

    .inner {
      @extend .content-width;
      padding-top: 4em;
      padding-bottom: 4em;
    }

    svg#mm-logo-glyph {
      width: 4em;
      fill: $color-ink;
      margin: 2em 0;
    }

    .menu {
      a {
        display: inline-block;
        padding-bottom: 0.5em;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      flex: 50%;
    }
  
    .instagram {
      margin-bottom: 1em;
    }

    p {
      margin: 0;
    }
}