footer {
    background: white;

    .inner {
      @extend .content-width;
      padding-top: calc($measure * 2);
      padding-bottom: calc($measure * 2);
    }

    .menu {
      margin-bottom: $measure;

      a {
        display: inline-block;
        padding-bottom: 0.5em;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      flex: 50%;
    }
  
    .instagram {
      margin-bottom: calc($measure / 2);
    }

    p {
      margin: 0;
    }
}