footer {
    @extend .width;
    @extend .clearfix;
    padding: $measure;
    border-top: 1px solid $color-ink;
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  
    li {
      float: left;
      margin-right: $measure / 4;
    }
  
    .instagram {
      margin-bottom: $measure / 2;
    }

    a {
      color: $color-stone;
      text-decoration: none;

      &.active {
        color: $color-ink;
      }

    }
  
  }