header {
    height: 8em;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba($color-background, 0.7);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 8;

    svg {
        fill: $color-ink;
    }

    svg#mm-logo {
        margin-top: 1em;
        height: 6em;
    }

    a {
        text-decoration: none;
    }

    #open-menu-overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6em;
        height: 8em;
        left: 0;
        top: 0;
        cursor: pointer;
    }

    .instagram {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6em;
        height: 8em;
        right: 0;
        top: 0;
        cursor: pointer;
    }
}