// Styles for the Pricing table

.pricing {
    background: $color-chalk;
    margin-left: -$measure;
    padding: 0 $measure $measure;
    margin-top: $measure;
    overflow: hidden;
  
    @media screen and (max-width: $breakpoint-small) {
      margin-right: -$measure;
    }
  
    .section-separator {
      margin: $measure 0;
    }
  
    .service {
      padding: $measure / 2 0;
      border-bottom: 1px solid $color-ink;
  
      &.first-item {
        padding-top: 0;
      }
  
      &.last-item {
        border: 0;
        padding-bottom: 0;
      }
    }
  
    .service-details {
      display: flex;
    }
  
    .service-name {
      font-weight: bold;
      flex: none;
      margin: 0;
    }
  
    .service-cost {
      flex: none;
      margin: 0;
      margin-left: auto;
    }

    .cost-increase {
      display: flex;
      margin-top: $measure / 4;
      color: $color-stone;
    }

    .cost-increase-description {
      flex: none;
      margin: 0;
    }

    .cost-increase-cost {
      flex: none;
      margin: 0;
      margin-left: auto;
    }
  
    .service-description {
      margin: $measure / 4 0 0 0;
      color: $color-stone;
    }
  
    .service-footer {
      font-size: $font-size-small;
      font-style: italic;
    }
  
  }