html {
  background-color: $color-background;
  color: $color-ink;
  font-family: $font-sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  line-height: 1.25;
  font-size: 1em;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

main {
  @extend .width;
  @extend .clearfix;
}

.content-width {
  @extend .clearfix;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}

section {
  margin-bottom: calc($measure * 2);

  p {
    font-size: 1.25em;
  }
}

.page-intro {
  padding: calc($measure * 3) 0;
  margin-bottom: 0;
  text-align: center;

  h2 {
    display: inline-block;
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid $color-chalk;
    margin-bottom: 1em;
    font-family: $font-sans-serif;
    font-style: initial;
    font-weight: initial;
  }

  p {
    margin: 0;
  }

}

.callout {
  padding: calc($measure * 3) 0;
  text-align: center;

  p {
    margin: 0;
  }
}


.instagram {
  display: block;
  width: 32px;

  #instagram {
    fill: $color-ink;
  }

  &:hover #instagram {
    fill: $color-stone;
  }
  
}