html {
  background-color: $color-background;
  color: $color-ink;
  font-family: $font-sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  line-height: 1.25;
  font-size: 1em;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

main {
  @extend .width;
  @extend .clearfix;
  padding-top: 5em;
}

.content-width {
  @extend .clearfix;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}

section {
  p {
    font-size: 1.25em;
  }
}

.page-intro {
  padding: 6em 0;
  margin-bottom: 0;
  text-align: center;

  h2 {
    display: inline-block;
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid $color-chalk;
    margin-bottom: 1em;
    font-family: $font-sans-serif;
    font-style: initial;
    font-weight: initial;
  }

  p {
    margin: 0;
  }

}

.page-section-title {
  margin-top: $measure;
  margin-bottom: $measure;
  font-size: 2em;
}

.callout {
  padding-top: 6em;
  padding-bottom: 6em;
  text-align: center;

  p {
    margin: 0;
  }
}


.instagram {
  width: 24px;

  #instagram {
    fill: $color-ink;
  }

  &:hover #instagram {
    fill: $color-stone;
  }
  
}

.content-block {
  text-align: center;
  padding-top: 6em;
  padding-bottom: 6em;

  @media screen and (max-width: $breakpoint-small) {
    padding-top: 4em;
    padding-bottom: 4em;
}

  p {
    margin: 0;
  }

  .subheading {
    display: inline-block;
    border-bottom: 2px solid $color-chalk;
    padding-bottom: $measure;
    margin-bottom: $measure;
  }

  h1{
    @extend .standout-text;
    margin: 0;
  }
  
  h2 {
    @extend .standout-text-smaller;
    margin: 0;
  }

  .content {
      margin-top: $measure;
  }

  .button-row {
    margin-top: $measure;
  }

  span {
    font-family: $font-serif;
    font-style: italic;
  }

}

.full-width-block {
  background-image: url("/assets/home/home-2.jpg");
  background-size: cover;

  .wrapper {
    background-color: rgba($color-background, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding-top: 6em;
    padding-bottom: 6em;

    @media screen and (max-width: $breakpoint-small) {
        padding-top: 2em;
        padding-bottom: 2em;
    }
  }

  h2 {
    @extend .standout-text-smaller;
    text-align: center;
    margin: 0;
  }

  .full-width-block-content {
    margin-top: 6em;

    @media screen and (max-width: $breakpoint-small) {
      margin-top: $measure;
    }
  }
}

.button-row {
  text-align: center;

  .primary,
  .secondary {
    display: inline-block;
    padding: 1em 2em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
  }

  .primary {
    background: $color-chalk;
  }

  .secondary {
    border: 1px solid $color-stone;
  }
}

.testimonial-block {
  @extend .content-width;
  margin-top: 6em;
  margin-bottom: 6em;

  @media screen and (max-width: $breakpoint-small) {
    margin-top: 4em;
    margin-bottom: 4em;
  }

  blockquote {
    margin-bottom: 6em;

    @media screen and (max-width: $breakpoint-small) {
      margin-bottom: 4em;
    }

    &:last-of-type {
      margin: 0;
    }

  }

  .button-row {
    margin-top: 2em;
  }
}

.divider {
  margin-left: auto;
  margin-right: auto;
  background: $color-chalk;
  height: 2px;
  width: 4em;
}