h1,
h2,
h3 {
  position: relative;
  font-family: $font-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;

  @media screen and (max-width: $breakpoint-small) {}
}

p {
  
}

a {
  color: $color-ink;

  &:hover {
    color: $color-stone;
  }

}

.standout-text {
  font-family: $font-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  font-size: 4em;
  line-height: 1em;

  @media screen and (max-width: $breakpoint-small) {
    font-size: 2em;
  }
  
}