h1,
h2,
h3 {
  position: relative;
  font-family: $font-serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-weight: 300;
  font-variation-settings: "wdth" 100;

  @media screen and (max-width: $breakpoint-small) {

  }
}

h3 {
  font-size: 1.5em;
}

a {
  color: $color-ink;

  &:hover {
    color: $color-stone;
  }

}

.standout-text {
  font-family: $font-serif;
  font-size: 3em;
  font-style: italic;
  font-weight: 300;
  line-height: 1.25em;

  @media screen and (max-width: $breakpoint-small) {
    font-size: 2em;
  }
  
}

.standout-text-smaller {
  font-family: $font-serif;
  font-size: 2.5em;
  font-style: italic;
  font-weight: 300;
  line-height: 1em;

  @media screen and (max-width: $breakpoint-small) {
    font-size: 2em;
  }
}

.standout-text-smallest {
  font-family: $font-serif;
  font-size: 1.75em;
  font-style: italic;
  font-weight: 300;
  line-height: 1em;

  @media screen and (max-width: $breakpoint-small) {
    font-size: 1.5em;
  }
}