h1,
h2,
h3 {
  position: relative;
  font-weight: 400;
  font-style: normal;
  font-family: $font-serif;
  font-size: 3em;

  @media screen and (max-width: $breakpoint-small) {
    font-size: 2em;
  }
}

h4 {
  position: relative;
  font-weight: 400;
  font-style: normal;
  font-family: $font-serif;
  font-size: 2em;

  @media screen and (max-width: $breakpoint-small) {
    font-size: 2em;
  }
}

h5 {

}

a {
  color: $color-ink;

  &:hover {
    color: $color-stone;
  }

}

.uppercased-text {
  text-transform: uppercase;
  font-size: $font-size-small;
}

.standout-text {
  font-family: $font-serif;
  font-size: 2em;

  @media screen and (max-width: $breakpoint-small) {
    font-size: 1.5em;
  }
  
}

.jumbo-button {
  display: block;
  text-align: center;
  border: 1px solid $color-ink;
  padding: $measure / 2 $measure;
  border-radius: $measure * 4;
  text-decoration: none;
  font-weight: bold;

  @media screen and (max-width: $breakpoint-small) {
    padding: $measure / 3 $measure / 2;
  }

  &:hover {
    background: $color-ink;
    color: $color-mushroom;
  }

}