/* Colours */
$color-mushroom: #DBD4CC;
$color-moss: #A9BF92;
$color-ink: #0F0800;
$color-white: #fff;
$background: #000;
$color: #fff;

/* Type */
$font-sans-serif: sans-serif;
$font-serif: 'Instrument Serif', serif;
$font-size-small: 0.875rem;
$font-size-smallest: 0.75rem;

/* Structure */
$measure: 2em;

/* Responsive */
$breakpoint-small: 640px;
