/* Colours */
$color-mushroom: #DBD4CC;
$color-chalk: #EAE1D7;
$color-ink: #221200;
$color-stone: #685F54;

/* Type */
$font-sans-serif: sans-serif;
$font-serif: 'Instrument Serif', serif;
$font-size-small: 0.875rem;
$font-size-smallest: 0.75rem;

/* Structure */
$measure: 2em;

/* Responsive */
$breakpoint-small: 640px;
$breakpoint-smallest: 400px;
