<section class="testimonials-list">
    {% for testimonial in site.data.testimonials %}
    <blockquote class="
    testimonial
    {% if forloop.last %}no-bottom-margin{% endif %}
    {% if forloop.index == 2 or forloop.index == 4 or forloop.index == 6 or forloop.index == 8 %}highlighted-quote{% endif %}
    ">
    <div>
        <p class="highlight">"{{ testimonial.highlight }}"</p>
        <p class="content">{{ testimonial.testimonial }}</p>
        <p class="cite">&mdash; {{ testimonial.cite }}</p>
    </div>
    </blockquote>
    {% endfor %}
</section>

<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Marianne Moore Makeup",
    "url": "https://mariannemakeup.com",
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5",
        "reviewCount": "{{ site.data.testimonials | size }}",
        "bestRating": "5",
        "worstRating": "1"
    },
    "review": [
        {% for testimonial in site.data.testimonials %}
        {
            "@type": "Review",
            "author": {
                "@type": "Person",
                "name": "{{ testimonial.cite | split: ' (' | first }}"
            },
            "reviewRating": {
                "@type": "Rating",
                "ratingValue": "5",
                "bestRating": "5",
                "worstRating": "1"
            },
            "reviewBody": "{{ testimonial.testimonial | strip_newlines | escape }}"
        }{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ]
}
</script>


