section.hero {
    position: relative;

    .menu {
      text-align: center;
      padding-top: 1em;

      li {
        padding: 1em;
      }
    }

    .scroll-overlay {
        position: absolute;
        bottom: $measure;
        text-align: center;
        width: 6em;
        left: 50%;
        margin-left: -3em;
    }
}