section.hero {
    background: url("/assets/home/9C9A81281.png");
    background-position: top;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    position: relative;

    .menu {
      text-align: center;
      padding-top: 1em;

      li {
        padding: 1em;
      }
    }

    .marquee {
      position: absolute;
      bottom: 20px;
      left: -50%;
      white-space: nowrap;
      overflow: hidden;

      #marquee-top,
      #marquee-bottom {
        mix-blend-mode: difference;
        color: white;
        font-size: 2em;
        display: block;
        text-align: left;
      }
    }
}