section.hero {
    background: url("/assets/hero.png");
    background-position: top;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    position: relative;

    .menu {
      text-align: center;
      padding-top: 1em;

      li {
        padding: 1em;
      }
    }
}