.home-testimonial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc($measure / 4);
    margin-top: 6em;
    margin-bottom: 6em;

    @media screen and (max-width: $breakpoint-small) {
       display: block; 
    }

    blockquote {
        margin: 0;
        padding: 1em;
    }

    p {
        margin: 0;
    }

    .quote {
        font-family: $font-serif;
        font-size: 1.75em;
    }

    .source {
        margin-top: 1em;
        font-size: 0.875em;
    }
}