.home-image-grid {
    position: relative;
    text-align: center;

    img {
        width: 100%;
        height: auto;
    }

    .main {
        width: 40%;
    }

    .side-1,
    .side-2 {
        position: absolute;
        width: 30%;
        z-index: -1;
    }

    .side-1 {
        left: calc($measure * 2);
        top: -$measure;

        @media screen and (max-width: $breakpoint-small) {
            left: $measure;
        }
        
    }

    .side-2 {
        right: calc($measure * 2);
        bottom: -$measure;

        @media screen and (max-width: $breakpoint-small) {
            right: $measure;
        }
    }

}

.headshot {
    img {
        width: 100%;
        height: auto;
    }
}