---
layout: compress
---
<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        {% if page.class == "home" %}
        <title>Marianne Moore &middot; Makeup Artist Victoria BC</title>
        {% else %}
        <title>Marianne Moore &middot; Makeup Artist Victoria BC &middot; {{ page.title }}</title>
        {% endif %}
        <!-- Primary Meta Tags -->
        <meta name="title" content="Marianne Moore · Makeup Artist Victoria BC" />
        <meta name="description" content="Marianne Moore is a luxury makeup artist specializing in bridal and editorial makeup based in Victoria BC" />
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://mariannemakeup.com/" />
        <meta property="og:title" content="Marianne Moore · Makeup Artist Victoria BC" />
        <meta property="og:description" content="Marianne Moore is a luxury makeup artist specializing in bridal and editorial makeup based in Victoria BC" />
        <meta property="og:image" content="/assets/meta.png" />
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="http://mariannemakeup.com/" />
        <meta property="twitter:title" content="Marianne Moore · Makeup Artist Victoria BC" />
        <meta property="twitter:description" content="Marianne Moore is a luxury makeup artist specializing in bridal and editorial makeup based in Victoria BC" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        <link color="#888" href="/favicon.svg" rel="mask-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap" rel="stylesheet">
        {% assign cacheBust = site.time | date:'?v=%s' %}
        <link rel="stylesheet" href="{{ "/css/style.css" | append: cacheBust }}">
    </head>
    <body class="{{ page.class }}">
        {% include header.html %}
        {% include content.html %}
        {% include footer.html %}
    </body>
</html>
