<section class="hero">

  {% include header.html %}

    <div class="marquee">
        <span id="marquee-top">
            {% for i in (1..10) %}
            Marianne Moore
            {% unless forloop.last %}
              &bull;
            {% endunless %}
          {% endfor %}  
        </span>
        <span id="marquee-bottom">
            {% for i in (1..10) %}
            Luxury Bridal Makeup Artist
            {% unless forloop.last %}
              &bull;
            {% endunless %}
          {% endfor %}          
        </span>
    </div>
</section>